<nav class="navbar" role="navigation" aria-label="main">
  <div class="navbar-brand">
    <a href="/" class="navbar-link">{% include 'logo-wordmark' %}</a>
  </div>
  <div class="navbar-menu" id="navbar">
    {% for link in linklists.main-menu.links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if linklists[child_list_handle].links != blank %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        [{% for childlink in linklists[child_list_handle].links %}
          <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
        {% endfor %}]
      {% else %}
        <a href="{{ link.url }}"  class="navbar-link">{{ link.title }} - ({{ link.url }})</a>
      {% endif %}
    {% endfor %}
    <div class="navbar-account">
        {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <a href="/account" class="navbar-link">account</a>
          {{ 'log out'  | customer_logout_link }}
        {% else %}
          {{ 'log in ' | customer_login_link }}
          {{ 'register' | customer_register_link }}
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="navbar-actions">
    <a href="/cart">cart</a>
    <button aria-expanded="false" type="button">
      <span><span>Menu</span></span>
    </button>
  </div>
</nav>