{% assign meta = product.metafields.global %}

<div class="card" onclick="window.location.href = '{{ product.url | within: collection }}'">
  <div class="card--header">
    <figure class="product--jar-shadow" style="width: 110px; margin: 0 auto 1rem">
      <img src="{{ product | img_url: '320x240' }}" alt="{{ product.title }} Image" style="width: 100%" />
    </figure>
    <span class="title has-text-uppercase">
      <a href="{{ product.url | within: collection }}">
        {{ product.title }}
      </a>
    </span>
    <span class="subtitle">{{ meta.tagline }}</span>
  </div>
  <div class="card--body">
    <p>{{ meta.short_description }}</p>
  </div>
  <footer class="card--footer">
    <div class="stack">
      <shopify-add-to-cart
        onclick="event.stopPropagation()"
        min="0"
        quantity="1"
        notify="shopping-cart"
        variants='{{ product.variants | json }}'
        hide-variants
        hide-increment
        hide-total
      ></shopify-add-to-cart>
      <a class="has-text-small" href="{{ product.url | within: collection }}">View Product Details</a>
    </div>
  </footer>
</div>