{% assign meta = product.metafields.global %}

<div class="card" onclick="window.location.href = '{{ product.url | within: collection }}'">
  <figure class="card--image">
    <img src="{{ product | img_url: '320x240' }}" alt="{{ product.title }} Image" />
  </figure>
  <div class="card--header">
    <span class="title has-text-uppercase">
      <a href="{{ product.url | within: collection }}">
        {{ product.title }}
      </a>
    </span>
    <span class="subtitle">{{ meta.tagline }}</span>
  </div>
  <div class="card--body">
    <p>{{ meta.short_description }}</p>
  </div>
  <footer class="card--footer">
    <div class="stack">
      <a class="button primary fullwidth" href="{{ product.url | within: collection }}">Add to Cart | {{ product.price | money }}</a>
      <a class="has-text-small" href="{{ product.url | within: collection }}">View Product Details</a>
    </div>
  </footer>
</div>