{% assign meta = product.metafields.global %}

<div class="card">
  <figure class="card--image">
    <img src="{{ product | img_url: '320x240' }}" alt="{{ product.title }} Image" />
  </figure>
  <div class="card--header">
    <span class="title">{{ product.title }}</span>
    <span class="subtitle">{{ meta.tagline }}</span>
  </div>
  <div class="card--body">
    {{ meta.short_description }}
  </div>
  <footer class="card--footer">
    <a class="button primary fullwidth" href="{{ product.url | within: collection }}">Add to Cart</a>
  </footer>
</div>