<div class="feature--content container">
  <figure class="feature--image">
    <img src="{{ section.settings.image | img_url: '2000x2000' }}" alt="{{ section.settings.title }}" />
  </figure>
  <div class="feature--body">
    <h1 class="title">{{ section.settings.title }}</h1>
    {{ section.settings.text }}
  </div>
  <footer class="feature--footer">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'button' %}
          <a class="button secondary {{ block.settings.style }} {% if block.settings.fullwidth %}fullwidth{% endif %}" href="{{ block.settings.action }}">{{ block.settings.label }}</a>
      {% endcase %}
    {% endfor %}
  </footer>
</div>


{% javascript %}
nomadic.intersect(document.querySelector('.shopify-section.feature'), true);
{% endjavascript %}

{% stylesheet 'scss' %}

$initial-delay: 250ms;

.shopify-section.feature {
  .feature--content {
    > * {
      transition: 666ms ease-in-out;
    }
    @for $i from 1 through 4 {
      > :nth-child(#{$i}) {
        transition-delay: $initial-delay + 150ms * $i;
      }
    }
  }

  &:not(.is-intersecting) {
    .feature--content > * {
      opacity: 0;
      transform: translateY(33px);
    }
  }

  &.is-intersecting {
    .feature--content > * {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.feature--content {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-areas:
    'image'
    'body'
    'footer';
}

.feature--footer {
  grid-area: footer;
}

.feature--body {
  grid-area: body;
  .title {
    margin-bottom: 0.33em;
  }
}


.feature--image {
  grid-area: image;
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .feature--content {
    grid-column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'image body'
      'image footer'
  }
  .feature--body, .feature--footer {
    display: flex;
  }
  .feature--body {
    flex-direction: column;
    justify-content: center;
  }
  .feature--footer {
    justify-content: flex-end;
  }
}

{% endstylesheet %}

{% schema %}
{
  "name": "Feature",
  "tag": "section",
  "class": "feature has-background-white",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "id": "label",
          "type": "text",
          "label": "Label"
        },
        {
          "id": "action",
          "type": "url",
          "label": "Action"
        },
        {
          "id": "style",
          "type": "select",
          "label": "Style",
          "options": [
            { "value": "normal", "label": "Normal"},
            { "value": "outlined", "label": "Outlined"},
            { "value": "arrow", "label": "Arrow"}
          ]
        },
        {
          "id": "fullwidth",
          "type": "checkbox",
          "label": "Full Width"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Feature Section",
    "category": "Image",
    "settings": {
      "title": "Enter your title.",
      "text": "<p>Describe the stuff?</p>"
    },
    "blocks": [
      {
        "type": "button",
        "settings": {
          "label": "Button Label",
          "style": "arrow",
          "fullwidth": false
        }
      }
    ]
  }]
}
{% endschema %}