{% render 'page-header', title: 'Your Cart' %}
<section class="section shopify-section has-background-white">
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate class="container checkout">
      <div class="checkout--items-container">
      {% for item in cart.items %}
        <div class="box checkout--item">
          <figure class="checkout--item--image">
            <a href="{{ item.url | within: collections.all }}">
              <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
            </a>
          </figure>
          <header class="checkout--item--header">
            <a class="delete is-pulled-right" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
              remove
            </a>
            <h3 class="title">
              <a href="{{ item.url }}">{{ item.product.title }}</a>
            </h3>
            <h4 class="subtitle">
              {{ item.variant.title }}
            </h4>
          </header>
          <div class="checkout--item--footer">
            <!-- {{ item.price | money }} -->
            <input class="checkout--item--quantity" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
            {{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
          </div>
        </div>
      {% endfor %}
      </div>
      <div>
        <p style="text-align: right">Subtotal ({{ cart.item_count }} item{% if cart.item_count > 0 or cart.item_count == 0 %}s{% endif %}): {{ cart.total_price | money }}</p>
        <div style="display: flex; justify-content: center">
          <button class="button outlined primary" type="submit" name="update">Update</button>&nbsp;
          <button class="button secondary" type="submit" name="checkout">Checkout</button>
        </div>
      </div>
    </form>
  {% else %}
    <div class="container" style="text-align: center">
      <h3 class="title">
        Your cart is empty.
      </h3>
      <h4 class="subtitle" style="margin-top: 0.666em;">
        Add a few items to adapt your vibe!
      </h4>
    </div>
    <div class="container">
      <p style="text-align: center">
        <a href="/collections/adaptogens" class="button secondary" >
          Shop Adaptogens
        </a>
      </p>
    </div>
  {% endif %}
</section>
