{% render 'page-header', title: page_title, subtitle: collection.metafields.global.subtitle, background_image: collection.image %}
<section class="section">
  {% for collection in collections %}
    {% unless collection.handle == 'frontpage' %}
    {% unless collection.handle == 'all' %}
      <div class="container">
        {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
        <h2 class="title has-text-uppercase">
          {{ collection_title }}
        </h2>
        <p class="subtitle">{{ collection.metafields.global.subtitle }}</p>
        {% for product in collection.products limit:5 %}
          {% render 'product-card', product: product %}
        {% endfor %}
        <a href="{{ collection.url }}" class="button arrow dark">More {{ collection_title }}</a>
      </div>
    {% endunless %}
    {% endunless %}
  {% endfor %}
</section>