{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign current_collection = product.collections | first %}
{% assign tagline = product.metafields.global.tagline %}
{% assign usage_instructions = product.metafields.global.usage %}
{% assign ingredients = product.metafields.global.ingredients %}

<header class="product--header">
  {% section 'product-background' %}
  <div class="container">
    <ul class="breadcrumbs">
      <li>
        <a href="{{ current_collection.url }}">{{ current_collection.title }}</a>  
      </li>
      <li>
        {{ product.title }} {{ tagline }}
      </li>
    </ul>
    <div class="product--header--content">
      <figure class="product--header--image">
        <img src="{{ featured_image | img_url: 'medium' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
        <figcaption>100% USDA Certified Organic</figcaption>
      </figure>
      <div class="product--header--cta">
        <span class="title">{{ current_variant.price | money_with_currency }}</span>
        <span class="">{{ current_variant.title }}</span>
        <shopify-add-to-cart
          min="0"
          quantity="1"
          variants='{{ product.variants | json }}'
          notify="shopping-cart"
          hide-variants
          hide-increment
          hide-total
        >
        </shopify-add-to-cart>
      </div>
    </div>
  </div>
</header>

<div class="product--info container">
  <h1 class="title">{{ product.title }}</h1>
  <h2 class="subtitle">{{ tagline }}</h2>
  <div>
    {{ product.description }}
  </div>
  <div class="product--ingredients">
    <h3>Key Ingredients</h3>
    <p>
      {{ ingredients | join: ', ' }}
    </p>
  </div>
</div>

<div class="has-background-light">
  <div class="container">
    <shopify-add-to-cart
      style="margin: 0 auto"
      notify="shopping-cart"
      min="0"
      quantity="1"
      variants='{{ product.variants | json }}'
      hide-total
    >
    </shopify-add-to-cart>
  </div>
</div>

<div class="container product--usage">
  <h3 class="title">Usage Instructions</h3>
  <div>
    {{ usage_instructions }}
    {% section 'product-usage' %}
  </div>
</div>

{% section 'product-recommendations' %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "http://example.com",
        "name": "{{ product.title }}"
      }
    },
    {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "http://example.com/news",
        "name": "{{ product.title }}"
      }
    }
  ]
}
</script>
  
